• Which store has greater sales for the quarter?  ---  Store 1:  6082  
    
• Which store has the highest sales for grocery products?  ---  Store 2:  2696  

• Which store has the highest sales for March?  ---  Store 1: 2871

• For how many days were the sales of stationery products greater in store 1 than in store 2?  ---   35 days

In [6]:
# import pandas and random
import pandas as pd
import random

In [7]:
# create variable for Store1 csv and print head to verify
Store1 = pd.read_csv('../Activity_1/Store1.csv')
Store1.head()

  Months  Grocery_sales  Stationary_sales
0    Jan             16                57
1    Jan             44               139
2    Jan             15                85
3    Jan             59                 8
4    Jan             36               106

In [8]:
# create variable for Store2 csv and print head to verify
Store2 = pd.read_csv('../Activity_1/Store2.csv')
Store2.head()

  Months  Grocery_sales  Stationary_sales
0    Jan             36                84
1    Jan             51                63
2    Jan             17                71
3    Jan             48                65
4    Jan             57                66

In [9]:
# find total sales for store1
TotalSalesStore1 = (Store1[['Grocery_sales', 'Stationary_sales']].sum(axis=1)).sum()
TotalSalesStore1

6082

In [15]:
# find total sales for store2
TotalSalesStore2 = (Store2[['Grocery_sales', 'Stationary_sales']]).sum(axis=1).sum()
TotalSalesStore2

5847

In [18]:
# find grocery sales for store1
GrocerySalesStore1 = (Store1[['Grocery_sales']]).sum()
GrocerySalesStore1

Grocery_sales    2097
dtype: int64

In [19]:
# find grocery sales for store2
GrocerySalesStore2 = Store2['Grocery_sales'].sum()
GrocerySalesStore2

2696

In [35]:
# find March sales for store1
MonthlySalesStore1 = Store1.groupby(['Months'])['Grocery_sales', 'Stationary_sales'].agg('sum').agg('sum', axis = 1)
MonthlySalesStore1

C:\Users\amand\AppData\Local\Temp\ipykernel_16748\707222137.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  MonthlySalesStore1 = Store1.groupby(['Months'])['Grocery_sales', 'Stationary_sales'].agg('sum').agg('sum', axis = 1)

Months
Feb    1744
Jan    1467
Mar    2871
dtype: int64

In [25]:
# find March sales for store2
MonthlySalesStore2 = Store2.groupby(['Months'])['Grocery_sales', 'Stationary_sales'].agg('sum').agg('sum', axis = 1)
MonthlySalesStore2

C:\Users\amand\AppData\Local\Temp\ipykernel_16748\2012844596.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  MonthlySalesStore2 = Store2.groupby(['Months'])['Grocery_sales', 'Stationary_sales'].agg('sum').agg('sum', axis = 1)

Months
Feb    2050
Jan    1419
Mar    2378
dtype: int64

In [29]:
# display days that store1 had higher stationary sales than store 2
Store1_stationary_greater = Store1[Store1['Stationary_sales'].gt(Store2['Stationary_sales'],axis=0)]
Store1_stationary_greater

C:\Users\amand\AppData\Local\Temp\ipykernel_16748\2092544468.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Store1_stationary_greater = Store1[Store1['Stationary_sales'].gt(Store2['Stationary_sales'],axis=0)]

   Months  Grocery_sales  Stationary_sales
1     Jan             44               139
2     Jan             15                85
4     Jan             36               106
5     Jan             27               136
6     Jan             74               116
7     Jan             63               142
8     Jan             65               129
9     Jan             12               138
10    Feb             34               112
11    Feb             73               100
12    Feb             45               135
13    Feb             31                13
14    Feb             61                51
16    Feb             20               141
17    Feb             18                72
18    Feb             60               134
19    Feb             62                47
21    Feb             25                75
23    Feb             10               118
25    Mar             72                97
26    Mar             48                63
27    Mar             64                54
28    Mar             14                78
29    Mar             51               104
30    Mar             30               133
33    Mar             66                80
35    Mar             54               111
36    Mar             46               147
37    Mar             43               137
39    Mar             55                50
42    Mar             28                73
44    Mar             57               124
46    Mar             11                86
48    Mar             52                68
49    Mar             29               113

In [30]:
# count days that store1 had greater stationary sales
len(Store1_stationary_greater)

35